html {
  font-size: 16px; /* 基础字号为 16像素 */
  font-family: "Comic Sans MS", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。（这个部分没理解。我用的是常用字体，并非挂载字体） */
  background-color: #C1424255 */8位hex，最后两位表示alpha值，即透明度*/;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff950088;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px; 
  text-align: center; /*文字居中*/ 
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
} 


p ,
ul,
h2 {
  color: red;
  width: 200px;
  border: 1px solid black;
}

p,
li {
  font-size: 18px;
  line-height: 2; /* 行高 */
  letter-spacing: 3px; /* 文字居中 */
} 

img {
  display: block;
  width: 80%; 
  margin: 10% 10%;
}